body {
    background-color: #bffff8;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #002b27;
    font-size: 20px;
    }

.explanation {
    border: #000;
    border-width: 2px;
    border-style: solid;
    border-radius: 5px;
    padding-top: 10px;
    background-color: #1eaeb3;
    width: fit-content;
}

.instructions {
    border-bottom: 3px dashed black;
    padding-top: 15px;
}

.buttonSection {
    padding-top: 20px;
}

.buttons {
    border-radius: 5px;
    color: #fbc9ff;
    background-color: #002b27;
    padding: 10px;
    font-size: 24px;
    border-color: #fbc9ff;
    border-width: 2px;
}

.buttons:hover {
    transform: translate(0px, -5px);
}

.buttons:active {
    transform: translate(0px, 5px);
    -webkit-transform: translate(0px, 5px);
    box-shadow: 0px 1px 0px 0px;
}

#result {
    font-size: 20px;
    border: #000;
    border-width: 2px;
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
    background-color: #1eaeb3;
    width: fit-content;
    min-height: 20px;
}
